/* START CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/* END CSS RESET */

:root {
  --black: #000;
  --text-color: var(--black);
  --content-padding: 20px;
  --blue-lavendar-light: #c4cfe5;
  --blue-lavendar: #a9b9d9;
  --blue-dusk: #8aa1bf;
  --blue-midnight: #22314d;
  --pink-blush: #f2d8da;
  --pink-blush-light: #fcf5f6;
  --pink-lavendar: #d9c5d2;
  --grey-lavendar: #eff2f6;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

header {
  padding: var(--content-padding);
  background-color: var(--pink-blush-light);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--pink-lavendar);
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button--primary,
.button--secondary {
  padding: 5px;
  background-color: var(--blue-lavendar-light);
  border: none;
  border-radius: 5px;
  line-height: 1;

  &:hover {
    background-color: var(--pink-blush);
    cursor: pointer;
  }
}

.button--secondary {
  background-color: var(--pink-blush);

  &:hover {
    background-color: var(--blue-lavendar);
  }
}

.button--delete {
  margin: 0 5px;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

main {
  padding: var(--content-padding);
}

.to-do-input {
  border: 5px solid rebeccapurple;
}

.dream-phase-list {
  list-style: none;
  padding: 0;
}

.dream-item {
  padding: 5px;
}

.dream-phase {
  padding: 20px;
  border: 1px solid var(--blue-lavendar);
  border-radius: 10px;
}

.cloud-img {
  height: 50px;
  width: auto;
}
