/* START CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/* END CSS RESET */

:root {
  --black: #000000;
  --white: #fff;
  --blue-lavendar-light: #c4cfe5;
  --blue-lavendar: #a9b9d9;
  --blue-lavendar-dark: #9baed3;
  --blue-dark: #364f7c;
  --blue-midnight: #22314d;
  --pink-blush: #f2d8da;
  --pink-blush-light: #fcf5f6;
  --pink-lavendar: #d9c5d2;
  --grey-lavendar: #eff2f6;
  --grey-graphite: #1e1e1e;
  --grey-stone: #323232;
  --grey-black: #161616;

  --text-color: var(--black);
  --primary-background-color: var(--pink-blush-light);
  --app-container-background-color: var(--primary-background-color);
  --header-background-color: var(--pink-blush);
  --header-border-color: var(--pink-lavendar);
  --data-list-background-color: var(--primary-background-color);
  --data-list-border-color: var(--grey-lavendar);
  --button-primary-background-color: var(--blue-lavendar-light);
  --button-primary-hover-background-color: var(--pink-blush);
  --button-primary-text-color: var(--black);
  --button-primary-hover-text-color: var(--button-primary-text-color);
  --button-secondary-background-color: var(--pink-blush);
  --button-secondary-hover-background-color: var(--blue-lavendar);
  --button-secondary-text-color: var(--black);
  --button-secondary-hover-text-color: var(--button-secondary-text-color);
  --input-text-background-color: var(--white);
  --input-text-border-color: var(--blue-lavendar);
  --input-background-color: var(--white);
  --checkbox-color: var(--blue-dark);
  --button-font-size: 16px;
  --font-family-accent: "Lobster", sans-serif;
  --font-family-accent: "Alata", sans-serif;
  --content-padding: 20px;
  --modal-overlay-color: rgba(255, 255, 255, 0.8);
  --link-text-color: var(--blue-dark);
  --icon-color--no-background: var(--text-color);
  --list-border-bottom-color: var(--pink-lavendar);
  --modal-content-border-color: var(--pink-lavendar);
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.application-container {
  height: 100%;
  min-height: 100vh;
  width: auto;
  background-color: var(--app-container-background-color);
}

.dark-mode {
  --text-color: var(--white);
  --primary-background-color: var(--grey-graphite);
  --header-border-color: var(--grey-graphite);
  --header-background-color: var(--grey-black);
  --button-primary-background-color: var(--grey-graphite);
  --button-primary-hover-background-color: var(--grey-graphite);
  --button-primary-hover-text-color: var(--button-secondary-text-color);
  --button-primary-text-color: var(--blue-lavendar-dark);
  --button-secondary-background-color: var(--grey-graphite);
  --button-secondary-hover-background-color: var(--grey-graphite);
  --button-secondary-hover-text-color: var(--button-primary-text-color);
  --button-secondary-text-color: var(--pink-lavendar);
  --input-text-background-color: var(--grey-black);
  --input-text-border-color: var(--grey-stone);
  --input-background-color: var(--grey-black);
  --checkbox-color: var(--pink-lavendar);
  --modal-overlay-color: rgba(0, 0, 0, 0.8);
  --link-text-color: var(--blue-lavendar-light);
  --list-border-bottom-color: var(--grey-stone);
  --modal-content-border-color: var(--black);
  --get-started-heading-text-color: var(--black);
}

a {
  text-decoration: none;
  color: var(--link-text-color);
}

h2 {
  font-size: 18px;
}

.main-layout-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .main-layout-container {
    padding: 40px 20px;
  }
}

.primary-section {
  padding: 20px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .primary-section {
    padding: 20px 40px 40px;
  }
}

/* START HEADER STYLES */

header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-border-color);
  padding: var(--content-padding);
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-layout-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-family-accent);
  color: var(--text-color);
}

.header-actions {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
}

.header-actions li {
  margin: 10px;
}

.modal-overlay {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-color);
  z-index: 5;
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%) translateY(-25%);
  width: max-content;
  height: auto;
  padding: 25px;
  background-color: var(--app-container-background-color);
  border: 1px solid var(--modal-content-border-color);
  border-radius: 10px;
  color: var(--text-color);
}

@media screen and (min-width: 576px) {
  .modal-content {
    min-width: 300px;
  }
}

.modal-close-button {
  display: block;
  margin-left: auto;
}

.theme-options--active {
  visibility: visible;
}

.theme-options-fieldset {
  border: none;
  color: var(--text-color);
  padding-left: 0;
}

.confirm-removal-modal-content button {
  margin: 15px 10px 0 0;
}

#confirm-removal-title {
  padding-bottom: 5px;
}

/* START HEADER STYLES */

.button--primary,
.button--secondary {
  color: var(--button-primary-text-color);
  line-height: 1;
  padding: 8px;
  background-color: var(--button-primary-background-color);
  border: 1px solid var(--blue-lavendar-dark);
  border-radius: 5px;
  font-size: var(--button-font-size);

  &:hover {
    background-color: var(--button-primary-hover-background-color);
    color: var(--button-primary-hover-text-color);
    border-color: var(--pink-lavendar);
    cursor: pointer;
  }
}

.button--secondary {
  color: var(--button-secondary-text-color);
  background-color: var(--button-secondary-background-color);
  border-color: var(--pink-lavendar);

  &:hover {
    background-color: var(--button-secondary-hover-background-color);
    color: var(--button-secondary-hover-text-color);
    border-color: var(--blue-lavendar-dark);
  }
}

.button--delete {
  margin: 0 5px;
  font-size: 12px;
}

.dream-phase-list .button--delete {
  margin: 0 5px 0 auto;
}

h1 {
  font-size: 24px;
  font-family: var(--font-family-accent);
  line-height: 1;
  color: var(--text-color);
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 32px;
  }
}

input {
  border: 1px solid var(--input-text-border-color);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--input-background-color);
}

input[type="text"] {
  background-color: var(--input-text-background-color);
  color: var(--text-color);
  padding: 5px 10px;
}

.data-list {
  list-style: none;
  padding: 0;
  min-height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: var(--data-list-background-color);
}

.dream-item {
  font-size: 16px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color);
  border-bottom: 1px solid var(--list-border-bottom-color);
}

.dream-name {
  padding: 5px 10px;
}

.cloud-img {
  height: 50px;
  width: auto;
}

/* START FORM STYLING */

.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.form label {
  margin: 10px 0;
  line-height: 1;
  color: var(--text-color);
}

.form .button--primary {
  margin-top: 0;
  align-self: stretch;
}

.form label,
.form input,
.form .button--primary {
  margin: 5px 0;
}

@media screen and (min-width: 576px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .form label,
  .form input,
  .form .button--primary {
    margin: 5px;
  }

  .form input {
    flex-grow: 1;
  }
}

/* END FORM STYLING */

.actions {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0 0 25px;
  position: relative;
}

.actions button {
  margin: 0 5px 5px;
}

.actions__edit {
  margin-left: auto;
}

.edit-mode-button {
  font-size: 12px;
  position: absolute;
  top: -34px;
  right: 20px;
}

.hidden,
.button--edit.hidden {
  display: none;
}

.button--edit {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: var(--pink-blush);
  background-image: url("../assets/edit-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.button--edit:hover {
  background-color: var(--blue-lavendar);
}

.button--edit.close {
  background-image: url("../assets/close-icon.svg");
}

.edit-list-actions {
  position: relative;
  top: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0 0 5px auto;
  width: 50px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  transform: translateY(50px);
}

.edit-list-actions.animate {
  transition: 0.5s linear transform;
  transform: translateY(0);
}

.edit-list-actions.animate .button--edit {
  animation: 1s emphasize;
}

.edit-list-actions:not(.animate) {
  transform: translateY(50px);
  transition: 0.5s linear all;
}

@keyframes emphasize {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.edit-list-actions.hidden {
  visibility: hidden;
}

.phases-list li {
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phases-list a {
  padding: 5px;
  display: inline-flex;
  align-items: center;
  font-family: var(--font-family-accent);
  font-weight: 700;
  word-break: break-word;
  color: var(--text-color);
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.cloud-svg,
.phases-list-cloud {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: var(--text-color);
}

.breadcrumbs a {
  color: var(--link-text-color);
}

.breadcrumbs__caret {
  width: 10px;
  height: auto;
  margin: 5px;
  transform: rotate(90deg);
  fill: var(--icon-color--no-background);
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.page-title-container {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.page-title-container .cloud-svg {
  width: 60px;
}

/* START CHECKBOX STYLING */
input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid var(--input-text-border-color);
  vertical-align: -2px;
  color: var(--checkbox-color);
  margin-left: 5px;
  flex-shrink: 0;
}

input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  font-size: 18px;
  top: 40%;
  left: 70%;
  transform: translateX(-50%) translateY(-50%);
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
  color: var(--checkbox-color);
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}
/* END CHECKBOX STYLING */

.confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.confirmation-popup p {
  margin-bottom: 20px;
}

.confirmation-popup button {
  margin-right: 10px;
}

.about-container {
  max-width: 900px;
  padding: 20px 0;
  color: var(--text-color);
}

.about-list {
  border: 1px solid var(--blue-lavendar);
  padding: 30px;
  margin: 0 20px 20px 20px;
  position: relative;
  top: -20px;
}

.about-list li {
  padding: 10px 0;
}

.get-started-heading {
  background-color: var(--blue-lavendar-light);
  border-radius: 20px;
  padding: 5px 20px;
  position: relative;
  z-index: 2;
  display: inline-block;
  color: var(--get-started-heading-text-color);
}
