/* START CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/* END CSS RESET */

:root {
  --black: #000;
  --white: #fff;
  --text-color: var(--black);
  --content-padding: 20px;
  --blue-lavendar-light: #c4cfe5;
  --blue-lavendar: #a9b9d9;
  --blue-lavendar-dark: #9baed3;
  --blue-dusk: #8aa1bf;
  --blue-midnight: #22314d;
  --pink-blush: #f2d8da;
  --pink-blush-light: #fcf5f6;
  --pink-lavendar: #d9c5d2;
  --grey-lavendar: #eff2f6;
  --button-font-size: 16px;
  --font-family-accent: "Lobster", sans-serif;
  --font-family-accent: "Alata", sans-serif;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

main {
  padding: var(--content-padding);
}

.main-layout-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .main-layout-container {
    padding: 20px;
  }
}

.primary-section {
  padding: 20px;
  border: 1px solid var(--blue-lavendar);
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .primary-section {
    padding: 20px 40px 40px;
  }
}

header {
  background-color: var(--pink-blush-light);
  border-bottom: 2px solid var(--pink-lavendar);
  padding: var(--content-padding);
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-layout-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-family-accent);
}

.hamburger-icon {
  height: 25px;
  width: auto;
}

.button--primary,
.button--secondary {
  color: var(--text-color);
  line-height: 1;
  padding: 8px;
  background-color: var(--blue-lavendar-light);
  border: 1px solid var(--blue-lavendar-dark);
  border-radius: 5px;
  font-size: var(--button-font-size);

  &:hover {
    background-color: var(--pink-blush);
    border-color: var(--pink-lavendar);
    cursor: pointer;
  }
}

.button--secondary {
  background-color: var(--pink-blush);
  border-color: var(--pink-lavendar);

  &:hover {
    background-color: var(--blue-lavendar);
    border-color: var(--blue-lavendar-dark);
  }
}

.button--delete {
  margin: 0 5px;
  font-size: 12px;
}

.dream-phase-list .button--delete {
  margin: 0 5px 0 auto;
}

h1 {
  font-size: 32px;
  font-family: var(--font-family-accent);
  line-height: 1;
}

input {
  border: 1px solid var(--blue-lavendar-dark);
  border-radius: 5px;
  padding: 5px;
}

.data-list {
  list-style: none;
  padding: 0;
  border: 1px solid var(--grey-lavendar);
  min-height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: var(--white);
}

.dream-item {
  font-size: 16px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--white);
}

.dream-name {
  padding: 5px 10px;
}

.dream-item:nth-child(odd) {
  background-color: var(--grey-lavendar);
}

.cloud-img {
  height: 50px;
  width: auto;
}

/* START FORM STYLING */

.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.form label {
  margin: 10px 0;
  line-height: 1;
}

.form .button--primary {
  margin-top: 0;
  align-self: stretch;
}

.form label,
.form input,
.form .button--primary {
  margin: 5px 0;
}

@media screen and (min-width: 576px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .form label,
  .form input,
  .form .button--primary {
    margin: 5px;
  }

  .form input {
    flex-grow: 1;
  }
}

/* END FORM STYLING */

.actions {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0 0 25px;
  position: relative;
}

.actions button {
  margin: 0 5px 5px;
}

.actions__edit {
  margin-left: auto;
}

.edit-mode-button {
  font-size: 12px;
  position: absolute;
  top: -34px;
  right: 20px;
}

.hidden,
.button--edit.hidden {
  display: none;
}

.button--edit {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-image: url("../assets/edit-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.button--edit.close {
  background-image: url("../assets/close-icon.svg");
}

.edit-list-actions {
  background-color: var(--grey-lavendar);
  position: relative;
  top: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0 0 5px auto;
  width: 50px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  transform: translateY(50px);
}

.edit-list-actions.animate {
  transition: 0.5s linear all;
  transform: translateY(0);
}

.edit-list-actions.animate .button--edit {
  animation: 1s emphasize;
}

.edit-list-actions:not(.animate) {
  transform: translateY(50px);
  transition: 0.5s linear all;
}

@keyframes emphasize {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.edit-list-actions.hidden {
  visibility: hidden;
}

.phases-list li {
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phases-list a {
  padding: 5px;
  display: inline-flex;
  align-items: center;
  font-family: var(--font-family-accent);
  font-weight: 700;
  word-break: break-all;
}

.nav-link {
  cursor: pointer;
  font-weight: 700;
}

.nav-link:hover {
  text-decoration: underline;
}

.cloud-svg {
  width: 50px;
  height: auto;
  margin: 0 10px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.breadcrumbs a {
  color: #364f7c;
}

.breadcrumbs__caret {
  width: 10px;
  height: auto;
  margin: 5px;
  transform: rotate(90deg);
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.page-title-container {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.page-title-container .cloud-svg {
  width: 60px;
}
